name: Build
on: [push, pull_request]

jobs:
  build-ubuntu:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        libfuse_ver: ['libfuse', 'libfuse3']
    steps:
      - uses: actions/checkout@v6
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y ${{matrix.libfuse_ver}}-dev
      - name: Build
        run: make
  build-macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install dependencies
        run: |
          brew update
          brew install --cask macfuse
          brew install libarchive
      - name: Build
        run: make
  build-freebsd:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Build
        uses: cross-platform-actions/action@v0.32.0
        with:
          operating_system: freebsd
          architecture: x86-64
          version: '15.0'
          run: |
            sudo pkg update
            sudo pkg install -y gmake fusefs-libs3
            gmake
  build-netbsd:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Build
        uses: cross-platform-actions/action@v0.32.0
        with:
          operating_system: netbsd
          architecture: x86-64
          version: '10.1'
          run: |
            sudo pkgin update
            sudo pkgin -y install gmake fuse
            gmake
